body{
	background-image: url(../images/StripeBackgoround.jpg);
}

.gear{
	width: 550px;
	height: 550px; 
	background-color: black; 
	border: 1px solid black; 
	float: left;
}

.center{
  background-color: #3D3737;
  width: 50%;
  height: 40%;
}

.icons{
		margin-left: 150px; 
}

.gear-icon{
	margin-top: 10px; 
	padding-right: 3px; 
	padding-top: 3px; 
	display: inline-block; 
}

.ranomize-btn{
	margin-top: 50px; 
}

.card{
	margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 15em; 
}